<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppSeven</display-name>
  <welcome-file-list>
    <welcome-file>formOne.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstBrother</display-name>
    <servlet-name>FirstBrother</servlet-name>
    <servlet-class>com.dss.FirstBrother</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstBrother</servlet-name>
    <url-pattern>/FirstBrother</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondBrother</display-name>
    <servlet-name>SecondBrother</servlet-name>
    <servlet-class>com.dss.SecondBrother</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondBrother</servlet-name>
    <url-pattern>/SecondBrother</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdBrother</display-name>
    <servlet-name>ThirdBrother</servlet-name>
    <servlet-class>com.dss.ThirdBrother</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdBrother</servlet-name>
    <url-pattern>/ThirdBrother</url-pattern>
  </servlet-mapping>
</web-app>